<!-- footer.ejs -->
<footer class="bg-info text-center fixed-bottom text-white bg-transparent">
  <p>2024. All rights reserved. </p>
</footer>
</body>
<script src="/javascripts/particles.js"></script>
<script>
particlesJS.load('particles-js', '/javascripts/particles.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
  
</html>