<!-- footer.ejs -->
</body>
<script src="/javascripts/particles.js"></script>
<script>
particlesJS.load('particles-js', '/javascripts/particles.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
  
</html>