<!-- index.ejs -->
<div id="particles-js"></div>
<%- include('partials/header') %>


<div class="container-fluid text-center">
    <h1>Darrk Ether Studios</h1>
</div>
<div class="container-fluid alight-items-center mt-5 pt-5">
    <h1>Custom Web Sites</h1><br>
    <h1>Discord Bots</h1><br>
    <h1>APIs</h1><br>
    <h1>Database Management</h1>
</div>


<%- include('partials/footer') %>

