<!-- index.ejs -->
    <div id="particles-js"></div>
    <%- include('partials/header') %>


    <div class="container-fluid text-center"><h1 class="text-white mt-5">Darrk Ether Studios</h1></div>


    <%- include('partials/footer') %>

