<!-- index.ejs -->
    <div id="particles-js"></div>
    <%- include('partials/header') %>

    
    <div class="container-fluid text-center">
        <h1>Darrk Ether Studios</h1>
    </div>
    <div class="container-fluid alight-items-center mt-5 pt-5">
     ABout works 
    </div>


    <%- include('partials/footer') %>

